/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset.css */

body{
	font-family: Georgia, serif;
	font-size:18px;
	line-height:27px;
	margin:0px auto;
	background-image: url('/images/cream_dust.png');
}

.item {
    width: 320px;
    margin: 7px;
    padding: 0.8em 0.8em 0;
    float: left;
    border: 1px solid #bbb;
    background-color: #fff;
}

.item img {
  border: 1px solid #bebebe;
  margin: 7px 7px;
}


.item .postauthor {
  font-style: italic;
}

.horizontal-list > li {
    float: left;
    margin: 0 .5em;
}

.horizontal-list > li:last-child {
    margin-right: 0 !important;
}

#page-nav {
    position: absolute;
    left: 200px;
}

header {
    margin-top: 1.3em;
    margin-bottom: 1em;
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 1em;
}

h1 {
	text-align: left;
	font-weight:normal;
	letter-spacing:1px;
	text-transform:none;
	font-size:28px;
	color:#000;
	padding-bottom:15px;
	margin-bottom:20px;
}

#site {
    margin-left: 5em;
    margin-right: 4em;
}

p {
  margin-bottom: 1em;
}


