<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} &larr; Brecht en Mieke's blog</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <script src="/js/modernizr.js"></script>
  </head>
  <body>

   <header>
     <img src="{{ page.banner }}" />
     <div class="row">
       <div class="small-12 large-8 large-offset-2 columns">
         <h1 class="title"><a href="/">{{ page.title }}</a></h1>
       </div>
     </div>
    </header>

    <div class="row">
      <div class="small-12 large-8 large-offset-2 columns">
        {{ content }}
      </div>
    </div>
    
    <script src="/js/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
