---
layout: default
---

<div id="page">
  <h1>{{ page.title }}</h1>

  <p>Geschreven door {{ page.author }} op {{ page.date | date_to_long_string }} in {{ page.location }}.</p>

  {{ content }}

  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_default_style">
    <a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
    <span class="a2a_divider"></span>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_google_plus"></a>
  </div>
  <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
</div>

<!-- Discus Comments -->
<div id="disqus_thread"></div>

<!-- Enable Disqus comments -->
<script type="text/javascript">
	var disqus_iframe_css = "http://hoflack.com/css/screen.css";
	var disqus_title = "{{ page.title }}";
	var disqus_message = "{{ page.summary }}";
</script>
<script type="text/javascript" src="http://disqus.com/forums/brechtblog/embed.js"></script>

<noscript>
		<a href="http://markreid.disqus.com/?url=ref">View the discussion thread.</a>
</noscript>
